@font-face {
  font-family:'disc';
  src: url('font/disc.TTF') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 100%;
  height: 100%;
  /* border: solid white 1px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#background {
  background-image: url('./b.jpg');
  background-repeat:repeat;
  background-size: contain;
  background-position:center;
  height: 100%;
  width: 100%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the alpha value (0.5) to control darkness */
  border: solid white 1px;
}

.topNav {
  position: absolute;
  right: 328px;
  top: 40px;
  /* border: solid 1px; */
  /* padding: 2px; */
  margin-top: 5px;
  z-index: 5;
  color: white;
}

ul {
  list-style: none;
  font-size: 11px;
}

li {
  color: gray;
}

li:hover {
  color: white;
}

button {
  background-color: #ffc266;
}

button:hover {
  background-color: aqua;
}


.logo {
  /* border: solid red; */
  font-family: disc, sans-serif;
  font-size: 60px;
  /* width: 234px; */
  width: 100%;
  padding-left: 10px;
  position:absolute;
  z-index: 0;
  -webkit-app-region: drag;
  -webkit-user-select:none;

  color: white;
}

.nowPlaying {
  /* border: solid; */
  position: absolute;
  bottom: 130px;
  left: 100px;
  width: 94%;
  height: 165px;
  
}

.albumArt {
  height: 160px;
  width: 160px;
  position: absolute;
  bottom: 0;
  left: 0px;
  border: solid white 5px;
}

.artName {
  position: absolute;
  bottom: 120px;
  left: 180px;
  color: white;
  font-size: 27px;
  font-weight: 700;
  width: 89%;

}

.albumName {
  position: absolute;
  bottom: 90px;
  left: 180px;
  color: white;
  font-size: 25px;
  width: 89%;

}

.songName {
  position: absolute;
  bottom: 40px;
  left: 180px;
  width: 89%;
  color: white;
  font-size: 25px;
  /* border: solid; */
}

#likeButton {
  position: absolute;
  left: 180px;
  bottom: 10px;
  border: solid 1px transparent;
  height: 20px;
}

#likeButton:hover{
  border: solid 1px white;
  transform: scale(0.9);
}

.musicProgres {
  /* border: solid; */
  height: 80px;
  position: absolute;
  bottom: 0px;
  /* width: 800px; */
  color: white;
}

.title {
margin-bottom: 5px;
}

.timer {
position: absolute;
bottom: 25px;
}

.duration {
  position: absolute;
  bottom: 25px;
  right: 0;
}

#myProgress {
  margin-left: 3px;
  margin-right: 3px;
  width: 260px;
   background-color: #d9d9f2; 
  cursor: pointer;
}

#myBar {
  width: 0%;
  height: 2.5px;
  background-color: #ffc266;
}

.musicControls {
  /* border: solid 1px; */
  position: absolute;
  bottom: 32px;
  right: 10px;
  width: 240px;
  height: 26px;
  display: flex;
  justify-content: space-evenly;
}

.icons {
  margin: 2px;
  height: 20px;
  width: 20px;
  border: solid 1px transparent;
  
}

.icons:hover{
  border: solid 1px white ;
  transform: scale(0.9);
}

#settings {
  position: absolute;
  border: solid 1px transparent;

  bottom: 2px;
  right: 2px;
  height: 20px;
  width: 20px;
}

#settings:hover {
  border: solid 1px white;
  transform: scale(0.9);
}

#addBackground {
  position: absolute;
  border: solid 1px transparent;
  bottom: 2px;
  right: 26px;
  height: 20px;
  width: 20px;
}

#addBackground:hover {
  border: solid 1px white;
  
}

#navigation {
  position: absolute;
  bottom: 100px;
  right: 10px;
  border: solid white 1px;
  /* height: 500px; */
  height: 70%;
  width: 50%;
  overflow: hidden;
  display: none;
}

#search {
  position: absolute;
  right: 30px;
  top: 4px;
  width: 440px;
  height: 20px;
  border: solid white 1px;
  background-color: transparent;
  /* display: none; */
  color: white;
}

#searchButton {
  position: absolute;
  border: solid 1px transparent;
  top: 2px;
  right: 28px;
  height: 20px;
  width: 20px;
}

#searchButton:hover {
  border-left: solid 1px white;
  transform: scale(0.9);
}

.background2 {
  /* background-image: url(./1.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 100%;
  width: 100%;
}

.dark-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tabs {
  position: absolute;
  top: 50px;
  padding-left: 5px;
  color: white;
  width: 100%;
  /* height: 100%; */
  line-height: 40px;
  display: flex;
  justify-content: space-evenly;

}

.musicTabs {
  border-bottom: solid 1px transparent;
  cursor: pointer;
}

.musicTabs:hover {
  border-bottom: solid 1px white;

}

#results {
  /* border: solid 1px ;  */
  position: absolute;
  top: 100px;
  width: 100% ;
  height: 82%;
  /* display: none; */
  overflow-y: scroll;
  display:flex;
  flex-wrap: wrap;
  left: 5%;
  
  
  /* padding: 20px; */
  /* padding-bottom: 20px; */
  /* padding-left: %; */
  padding-bottom: 3%;
  
}

#results::-webkit-scrollbar {
  display: none;
}

#art {
  width: 75%;
  /* height: 25%; */
  /* margin-left: 15%; */
  /* margin-bottom: 15%; */
  /* border: solid white 5px; */
}

#title {
  font-size: 12px;
  color: white;
  

}


#artistsName {
  font-size: 12px;
  color: white;
}

#alb {
  font-size: 12px;
  color: white;
}


.songContainer {
 /* border: solid white; */
 width: 30%;
 text-align: center;
 height: 60%;
}

