@font-face {
  font-family:'disc';
  src: url('font/disc.TTF') format('truetype');
}

@font-face {
  font-family:'discBlack';
  src: url('font/disc_black.TTF') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 100%;
  height: 100%;
  /* border: solid white 1px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.background {
  background-image: url(./331295.jpg);
  /* background-image: url(./04.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 100%;
  width: 100%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the alpha value (0.5) to control darkness */
  border: solid white 1px;
}

.topNav {
  position: absolute;
  right: 328px;
  top: 40px;
  /* border: solid 1px; */
  /* padding: 2px; */
  margin-top: 5px;
  z-index: 5;
  color: white;
}

ul {
  list-style: none;
  font-size: 11px;
}

li {
  color: gray;
}

li:hover {
  color: white;
}

button {
  background-color: #ffc266;
}

button:hover {
  background-color: aqua;
}


.logo {
  /* border: solid red; */
  font-family: disc, sans-serif;
  font-size: 60px;
  /* width: 234px; */
  width: 100%;
  padding-left: 10px;
  position:absolute;
  z-index: 0;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  color: white;
}

.albumArt {
  height: 160px;
  width: 160px;
  position: absolute;
  bottom: 130px;
  left: 100px;
  border: solid white 5px;
}

.artName {
  position: absolute;
  bottom: 250px;
  left: 280px;
  color: white;
  font-size: 27px;
  font-weight: 700;
}

.albumName {
  position: absolute;
  bottom: 220px;
  left: 280px;
  color: white;
  font-size: 25px;
}

.songName {
  position: absolute;
  bottom: 170px;
  left: 280px;
  color: white;
  font-size: 25px;
}

.musicProgres {
  /* border: solid; */
  height: 80px;
  position: absolute;
  bottom: 0px;
  /* width: 800px; */
  color: white;
}

.title {
margin-bottom: 5px;
}

.timer {
position: absolute;
bottom: 25px;
}

.duration {
  position: absolute;
  bottom: 25px;
  right: 0;
}

#myProgress {
  margin-left: 3px;
  margin-right: 3px;
  width: 260px;
   background-color: #d9d9f2; 
  cursor: pointer;
}

#myBar {
  width: 0%;
  height: 2.5px;
  background-color: #ffc266;
}

.musicControls {
  /* border: solid; */
  position: absolute;
  bottom: 35px;
  right: 10px;
  width: 240px;
  height: 18px;
  display: flex;
  justify-content: space-evenly;
}

.icons:hover{
  border: solid 1px white ;
}

#settings {
  position: absolute;
  border: solid 1px transparent ;

  bottom: 2px;
  right: 2px;
  height: 20px;
}

#settings:hover {
  border: solid 1px white ;
  
}
