@font-face {
  font-family:'disc';
  src: url('font/disc.TTF') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 100%;
  height: 100%;
  /* border: solid white 1px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#background {
  background-image: url('./b.jpg');
  background-repeat:repeat;
  background-size: contain;
  background-position:center;
  height: 100%;
  width: 100%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value (0.5) to control darkness */
  border: solid white 1px;
}


.logo {
  /* border: solid red; */
  font-family: disc, sans-serif;
  font-size: 60px;
  /* width: 234px; */
  width: 100%;
  padding-left: 10px;
  position:absolute;
  z-index: 0;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  color: white;
}

.nowPlaying {
  /* border: solid; */
  position: absolute;
  bottom: 130px;
  left: 100px;
  width: 165px;
  height: 165px;
  overflow: visible;

}

.albumArt {
  height: 160px;
  width: 160px;
  position: absolute;
  bottom: 0;
  left: 0px;
  border: solid white 1px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}

.artName {
  position: absolute;
  bottom: 120px;
  left: 180px;
  color: white;
  font-size: 27px;
  font-weight: 700;
    /* width: fit-content; */
    white-space: nowrap;
    


}

.albumName {
  position: absolute;
  bottom: 90px;
  left: 180px;
  color: white;
  font-size: 25px;
  /* width: fit-content; */
    white-space: nowrap;


}

.songName {
  position: absolute;
  bottom: 40px;
  left: 180px;
    /* width: fit-content; */
  color: white;
  font-size: 25px;
   white-space: nowrap;

  /* border: solid; */
}

#likeButton {
  position: absolute;
  left: 180px;
  bottom: 10px;
  border: solid 1px transparent;
  height: 20px;
}

#likeButton:hover{
  border: solid 1px white;
  transform: scale(0.9);
}

.musicProgres {
  /* border: solid; */
  height: 80px;
  position: absolute;
  bottom: 0px;
  /* width: 800px; */
  color: white;
}

.title {
margin-bottom: 5px;
}

.timer {
position: absolute;
bottom: 25px;
}

.duration {
  position: absolute;
  bottom: 25px;
  right: 0;
}

#myProgress {
  margin-left: 3px;
  margin-right: 3px;
  width: 260px;
   background-color: #d9d9f2; 
  cursor: pointer;
}

#myBar {
  width: 0%;
  height: 2.5px;
  background-color: #ffc266;
}

.musicControls {
  /* border: solid 1px; */
  position: absolute;
  bottom: 32px;
  right: 10px;
  width: 240px;
  height: 26px;
  display: flex;
  justify-content: space-evenly;
}

.icons {
  margin: 2px;
  height: 20px;
  width: 20px;
  border: solid 1px transparent;
  
}

.icons:hover{
  border: solid 1px white ;
  transform: scale(0.9);
}

#settings {
  position: absolute;
  border: solid 1px transparent;

  bottom: 2px;
  right: 2px;
  height: 20px;
  width: 20px;
}

#settings:hover {
  border: solid 1px white;
  transform: scale(0.9);
}

#addBackground {
  position: absolute;
  border: solid 1px transparent;
  bottom: 2px;
  right: 26px;
  height: 20px;
  width: 20px;
}

#addBackground:hover {
  border: solid 1px white;
  
}

#navigation {
  position: absolute;
  bottom: 100px;
  right: 10px;
  border: solid white 1px;
  /* height: 500px; */
  height: 70%;
  width: 50%;
  /* overflow: visible; */
  display: block;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

}

#search {
  position: absolute;
  right: 30px;
  top: 4px;
  width: 440px;
  height: 20px;
  border: solid white 1px;
  background-color: transparent;
  /* display: none; */
  color: white;
}

#searchButton {
  position: absolute;
  border: solid 1px transparent;
  top: 2px;
  right: 28px;
  height: 20px;
  width: 20px;
}

#searchButton:hover {
  border-left: solid 1px white;
  transform: scale(0.9);
}



.dark-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tabs {
  position: absolute;
  top: 50px;
  padding-left: 5px;
  color: white;
  width: 100%;
  /* height: 100%; */
  line-height: 40px;
  display: flex;
  justify-content: space-evenly;

}

.musicTabs {
  border-bottom: solid 1px transparent;
  cursor: pointer;
}

.musicTabs:hover {
  border-bottom: solid 1px white;

}

.musicTabs.active {
  border-bottom: solid 1px white;
}

#results {
  /* border: solid red 1px ;  */
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
  /* height: 86%; */
  /* display: none; */
  /* overflow-y: scroll;
  display:grid;
  grid-template-columns: repeat(auto-fit, 168px);
  grid-auto-rows: max-content;
  gap: 8px;
  justify-content: center;
  padding: 8px; */
  /* overflow: visible; */

  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* left: 5%; */
  
  
  /* padding: 20px; */
  /* padding-bottom: 20px; */
  /* padding-left: %; */
  /* padding-bottom: 3%; */
  
}


#albumWindow {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display:grid;
  grid-template-columns: repeat(auto-fit, 168px);
  grid-auto-rows: max-content;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  /* border: solid 1px blue; */
}

#albumWindow::-webkit-scrollbar {
  border: solid white 1px;
}

#albumWindow::-webkit-scrollbar-thumb {
  background-color: rgba(95, 92, 92, 0.4);
  border: solid white 1px;
}

#albumWindow::-webkit-scrollbar-thumb:hover {
    background-color: rgba(95, 92, 92, 0.8);

}


.musicbox {
  border: solid white 1px;
 width: 168px;
 display: grid;
 grid-template-columns: 1fr;
 justify-items: center;
 padding: 2px;
 /* text-align: center; */
 /* height: 60%; */
}

.musicbox:hover {
  background-color: rgba(95, 92, 92, 0.4);
}

.art {
  /* width: 75%; */
  width: 160px;
  height: 160px;
  /* height: 25%; */
  /* margin-left: 15%; */
  /* margin-bottom: 15%; */
  border: solid white 1px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 12px;
  color: white;
  

}


.artistsName {
  font-size: 12px;
  color: white;
}

.alb {
  font-size: 12px;
  color: white;
}

#queue {
  position: absolute;
  bottom: 315px;
  /* bottom: 30%; */
  left: 50px;
  /* left: 2.5%; */
  border: solid white 1px;
  height: 40%;
  /* width: 25%; */
  width: 257px;
  /* width: 14%; */
  /* overflow: hidden; */
  /* display: none; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  /* padding: 2px; */

  display: none;
}

#queueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#queueList {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 4px;
  /* border: solid red 1px; */
}

.queueSong {
  /* position: absolute; */
  border: solid 1px white;
  padding: 2px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 2px;
}

#queueArt {
  height: 60px;
}

#queueSongInfo {
  color: white;
}

#trackListContainer {
 position: absolute;
  border: solid white 1px;
  height: 80%;
  /* width: 400px; */
  width: 30%;
  top: 0;
  bottom: 0;
  /* left: -400px; */
  right: 100%;
  margin-right: 20px;
  display: none;
  /* background-color: white; */
  /* z-index: 10; */
}

#trackListOverlay {
 position: absolute;
 top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#selectedAlbumContainer {
  position: absolute;
  /* border: solid red 1px; */
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px;
}

#selectedAlbum {
  border: solid white 1px;
  display: flex;
  align-items: center;
  height: 30%;
  padding: 4px;
  gap: 4px;
}

#selectedAlbumArt {
  /* height: 150px; */
  height: 85%;
  border: solid white 1px;
}

#selectedAlbumInfo {
  /* border: solid white 1px; */
  height: 85%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px;
  min-width: 0;
}

#selectedAlbumInfo p {
    margin: 0;
    min-width: 0;
    font-size: clamp(10px, 1vw, 16px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#songListContainer {
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px;
  height: 70%;
}

.songContainer {
 border: solid white 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
  margin: 2px;

}

.songContainer:hover {
   background-color: rgba(95, 92, 92, 0.4);
}

#leftSpan {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#artistWindow {
   width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
  /* justify-content: center; */
  padding: 8px;
  /* border: solid 1px blue; */
  
} 

#artistList {
  border: solid white 1px;
  padding: 2px;
  overflow-y: auto;

}

#artistMusicResults {
  border: solid white 1px;
  padding: 2px;
  overflow-y: auto;
}

#artistList::-webkit-scrollbar {
  border: solid white 1px;
  width: 10px;
}

#artistList::-webkit-scrollbar-thumb {
  background-color: rgba(95, 92, 92, 0.4);
  border: solid white 1px;
}

#artistList::-webkit-scrollbar-thumb:hover {
    background-color: rgba(95, 92, 92, 0.8);

}

.artistBox {
  border: solid white 1px;
  width: 100%;
  height: fit-content;
  padding: 2px;
  display: flex;
  color: white;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.artistBox:hover {
  background-color: rgba(95, 92, 92, 0.4);
}

.artistImg {
  height: 50px;
  border: solid white 1px;
}

#artistMusicResults::-webkit-scrollbar {
  border: solid white 1px;
  /* width: 10px; */
}

#artistMusicResults::-webkit-scrollbar-thumb {
  background-color: rgba(95, 92, 92, 0.4);
  border: solid white 1px;
}

#artistMusicResults::-webkit-scrollbar-thumb:hover {
    background-color: rgba(95, 92, 92, 0.8);

}

.artistAlbumBox {
  border: solid white 1px;
  padding: 6px;
  /* display: flex; */
  color: white;
  /* gap: 6px; */
  margin: 4px;
}

.artistAlbumImg {
  height: 150px;
  border: solid white 1px;
  margin: 2px;
}

.artistAlbumInfo {
  /* border: solid 1px white; */
  margin: 2px;
}